* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none; 
}

a {
  text-decoration: none; 
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Montserrat Regular;
}

main {
  padding: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B2D1C; 
  padding: 10px 200px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 150px;
  flex: 1; 
  font-weight: 600;
  font-size: large;
  font-family: Italianno Regular;
  color: #F7F7F7;
}

.nav-right {
  justify-content: flex-end;
}

.logo img {
  height: 150px; 
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  flex: 1;
}

.sidebar {
  padding: 40px;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
}

.hero-content {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 40px; 
  margin-bottom: 50px;
}

.hero-text {
  flex: 1; 
}

.hero-image img {
  max-width: 450px;
  width: 100%;
  height: auto;
  border-radius: 15px;    
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
}
